src/main/resources/soap/mediafileTypes.xsd

<?xml version="1.0"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XmlSchema.xsd to edit this template
-->

<xs:schema 
    version="1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.generated.classes.mediafile.com/soap"
    targetNamespace="http://www.generated.classes.mediafile.com/soap"
    elementFormDefault="qualified"
>
    <!-- Login endpoint -->
    <xs:element name="Login">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Register endpoint -->
    <xs:element name="Register">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="email"    type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Get user endpoint -->
    <xs:element name="GetUser">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target" type="tns:Identifiers"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--  Get files and folder metada from folder  endpoint-->
    <xs:element name="GetFiles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target" type="tns:Identifiers"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Share file endpoint -->
    <xs:element name="ShareFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target" type="tns:Identifiers"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Upload file endpoint -->
    <xs:element name="UploadFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target"       type="tns:Identifiers"/>
                <xs:element name="folderId"     type="xs:string"/>
                <xs:element name="name"         type="xs:string"/>
                <xs:element name="extension"    type="xs:string"/>
                <xs:element name="content"      type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Delete file endpoint -->
    <xs:element name="DeleteFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target" type="tns:Identifiers"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Move file endpoint -->
    <xs:element name="MoveFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target"   type="tns:Identifiers"/>
                <xs:element name="folderId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Edit file endpoint -->
    <xs:element name="EditFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target"       type="tns:Identifiers"/>
                <xs:element name="name"         type="xs:string"/>
                <xs:element name="extension"    type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Download files endpoint -->
    <xs:element name="DownloadFiles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target" type="tns:Identifiers"/>
                <xs:element name="folderId" maxOccurs="unbounded">
                    <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                        <xs:attribute name="type" type="tns:FileType"/>
                        </xs:extension>
                    </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Share folder endpoint -->
    <xs:element name="ShareFolder">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target" type="tns:Identifiers"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Delete folder endpoint -->
    <xs:element name="DeleteFolder">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target" type="tns:Identifiers"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Move folder endpoint -->
    <xs:element name="MoveFolder">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target"   type="tns:Identifiers"/>
                <xs:element name="folderId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Create folder endpoint -->
    <xs:element name="CreateFolder">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target"   type="tns:Identifiers"/>
                <xs:element name="folderId" type="xs:string"/>
                <xs:element name="name"     type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create folder endpoint -->
    <xs:element name="RenameFolder">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target"   type="tns:Identifiers"/>
                <xs:element name="name"     type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Login endpoint response -->
    <xs:element name="LoginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
                <xs:element name="data"     type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Register endpoint response -->
    <xs:element name="RegisterResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
                <xs:element name="data"     type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Register endpoint -->
    <xs:element name="GetUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
                <xs:element name="data">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="username" type="xs:string"/>
                            <xs:element name="fullname" type="xs:string"/>
                            <xs:element name="email"    type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Get files endpoint response -->
    <xs:element name="GetFilesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
                <xs:element name="data">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="folder"   type="tns:FolderInfo"/>
                            <xs:element name="files"    type="tns:FilesInfo"/>
                            <xs:element name="folders"  type="tns:Folders"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Share file endpoint response -->
    <xs:element name="ShareFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
                <xs:element name="data"     type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Upload file endpoint response -->
    <xs:element name="UploadFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
                <xs:element name="data"     type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Delete file endpoint response -->
    <xs:element name="DeleteFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Move file endpoint response -->
    <xs:element name="MoveFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Edit file endpoint response -->
    <xs:element name="EditFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Download file endpoint response -->
    <xs:element name="DownloadFilesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
                <xs:element name="data"     type="tns:Files"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Share folder endpoint response -->
    <xs:element name="ShareFolderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Delete folder endpoint response -->
    <xs:element name="DeleteFolderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Move folder endpoint response -->
    <xs:element name="MoveFolderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Create folder endpoint response -->
    <xs:element name="CreateFolderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
                <xs:element name="data"     type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create folder endpoint -->
    <xs:element name="RenameFolderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errors"   type="tns:Errors"/>
                <xs:element name="success"  type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Folder metadata type -->
    <xs:complexType name="FolderInfo">
        <xs:sequence>
            <xs:element name="id"       type="xs:string"/>
            <xs:element name="folderId" type="xs:string"/>
            <xs:element name="name"     type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- File metadata type -->
    <xs:complexType name="FileInfo">
        <xs:sequence>
            <xs:element name="id"           type="xs:string"/>
            <xs:element name="name"         type="xs:string"/>
            <xs:element name="extension"    type="xs:string"/>
            <xs:element name="mimeType"     type="xs:string"/>
            <xs:element name="size"         type="xs:integer"/>
            <xs:element name="dolderId"     type="xs:string"/>
            <xs:element name="createdDate"  type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Folder metadata with content data type -->
    <xs:complexType name="File">
        <xs:sequence>
            <xs:element name="Id"           type="xs:string"/>
            <xs:element name="Name"         type="xs:string"/>
            <xs:element name="Extension"    type="xs:string"/>
            <xs:element name="MimeType"     type="xs:string"/>
            <xs:element name="Size"         type="xs:integer"/>
            <xs:element name="FolderId"     type="xs:string"/>
            <xs:element name="CreatedDate"  type="xs:date"/>
            <xs:element name="Content"      type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Identitifiers type, used for target userId, folderId or fileId -->
    <xs:complexType name="Identifiers">
        <xs:sequence>
            <xs:element name="userId"   type="xs:string"/>
            <xs:element name="folderId" type="xs:string"/>
            <xs:element name="fileId"   type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Is file or folder enum -->
    <xs:simpleType name="FileType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FOLDER" />
            <xs:enumeration value="FILE" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Array of errors type -->
    <xs:complexType name="Errors">
        <xs:sequence>
            <xs:element name="error" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Array of files metadata type -->
    <xs:complexType name="FilesInfo">
        <xs:sequence>
            <xs:element name="files" type="tns:FileInfo" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Array of files metadata with content data type -->
    <xs:complexType name="Files">
        <xs:sequence>
            <xs:element name="files" type="tns:File" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Array of folders metadata type -->
    <xs:complexType name="Folders">
        <xs:sequence>
            <xs:element name="folders" type="tns:FolderInfo" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
